<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>574326699940-8j3qm17h4e7171cgj8hmmsibhv45u880.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574326699940-8j3qm17h4e7171cgj8hmmsibhv45u880</string>
	<key>API_KEY</key>
	<string>AIzaSyBXbptlmM03hkNrDD0wosUVeI3LlzDpGKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>574326699940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pegipegi.PostMe2</string>
	<key>PROJECT_ID</key>
	<string>fdatabasetest</string>
	<key>STORAGE_BUCKET</key>
	<string>fdatabasetest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:574326699940:ios:941a22a83804ffcd</string>
	<key>DATABASE_URL</key>
	<string>https://fdatabasetest.firebaseio.com</string>
</dict>
</plist>